body {
    text-align: center;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lists {
    display: flex;
    justify-content: space-around;
}

.tasks li {
    text-align: left;
}

.todoTasks {
    
}

.doneTasks {
    list-style: none;
    text-decoration: line-through;
}